<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>TrackClear</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="App">
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-md">
      <h1 class=".text-primary bg-white rounded mt-10">TravelClear</h1>
    </div>
  </nav>
  <div class="container">
    <br><br><br>
    <header class="App-header">
      <h1 style="margin-top: -300px; margin-bottom: 50px;">TravelClear</h1>
    <form method="POST">
      <label for="text_input">Enter a city:</label>
      <div class="input_stuff">
        <input type="text" name="text_input" id="text_input" placeholder="Enter a city">
        <button class="btn btn-secondary fs-5" type="submit" name="submit" id="submit">Submit</button>
        <button class="btn btn-secondary fs-5" type="submit" name="random" id="random">Surprise me!</button>
      </div>
    </form>
      <br><br><br>
      {% if error %}
    <h2>ERROR</h2>
    {% endif %}
    {% if description %}
    <div class="output">
	  {{ description }}
      <br>
      {{ tourist_spots }}
      <br>
      {{ weather }}
    </div>
    {% endif %}
    </header>

  </div>
</div>

</body>
</html>
